Repository walleXD/janus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: added components for the game of life board
  src/index.ts
  src/modules/ui/Board.tsx
  src/modules/ui/Cell.tsx
Due: eslint --fix, prettier --write

feat: added initial state board generation
  .eslintrc.js
  package-lock.json
  package.json
  src/index.ts
  src/modules/life/hooks.ts
  src/modules/life/utils.ts
  src/modules/ui/Board.tsx
  src/modules/ui/BoardContainer.tsx
  src/modules/ui/Cell.tsx
Due: eslint --fix, prettier --write

feat: added proper board updating pipeline
  src/App.tsx
  src/index.ts
  src/modules/life/hooks.ts
  src/modules/life/utils.ts
  src/modules/ui/Board.tsx
  src/modules/ui/BoardContainer.tsx
  src/modules/ui/HandleInputs.tsx
Due: eslint --fix, prettier --write

chore: pkg updates
  package-lock.json
  package.json
Due: none

refactor: project structure
  src/App.tsx
  src/modules/life/components/Board.tsx
  src/modules/life/components/Cell.tsx
  src/modules/life/containers/BoardContainer.tsx
  src/modules/life/containers/HandleInputs.tsx
  src/modules/life/utils.ts
Due: eslint --fix, prettier --write

feat: added bin path
  bin/index.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

style: cleaner font color
  src/App.tsx
Due: eslint --fix, prettier --write

docs: added README
  README.md
  imgs/screenshot.png
Due: prettier --write

chore: clean up
  package.json
  tsconfig.json
Due: none

chore(deps): add renovate.json
  renovate.json
Due: none

feat: added cleaner inputs
  src/App.tsx
  src/modules/life/index.ts
Due: eslint --fix, prettier --write

chore: added renovate config
  renovate.json
Due: none

chore: fix renovate config
  renovate.json
Due: none

chore(deps): update dependency @swc/core to v1.2.120
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @swc/jest to v0.2.15
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v16.11.14
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jest to v27.4.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typescript to v4.5.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency concurrently to v6.5.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lint-staged to v12.1.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @swc/core to v1.2.121
  package-lock.json
  package.json
Due: none

chore(deps): update dependency concurrently to v6.5.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-react to v7.28.0
  package-lock.json
  package.json
Due: none

chore(deps): update jest monorepo
  package-lock.json
  package.json
Due: none

chore(deps): update commitlint monorepo
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lint-staged to v12.2.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/react to v17.0.38
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-promise to v6
  package.json
Due: none

chore(deps): update dependency zx to v4.3.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-import to v2.26.0
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,js,tsx,ate}
  prettier --write: any of: *.{ts,js,tsx,css,md,ate}
